@import "../theme.css";

html {
    background-color: var(--color-bg);
    color: var(--color-text);
}

body {
    font-family: var(--font);
    font-size: 1rem;
}

textarea {
    background-color: var(--color-bg);
    border: 0.0625rem solid var(--color-text-inactive);
    border-radius: 0.5rem;
    color: var(--color-text);
    font-size: 1rem;
    max-width: calc(100% - 1rem);
    min-height: 10rem;
    outline: none;
    overflow: auto;
    padding: 0.5rem;
    tab-size: 10rem;
    white-space: pre;
    width: 40rem;
}

textarea:focus {
    border-color: var(--color-text);
}

button {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--color-bg);
    border: 0.125rem solid var(--color-ok);
    border-radius: 1rem;
    color: var(--color-text);
    cursor: pointer;
    font-size: 1rem;
    line-height: 1rem;
    outline: none;
    padding: 0.5rem;
}

button:hover {
    background-color: var(--color-hover);
}

button:active {
    border-color: var(--color-text);
}

.editor ul {
    padding-inline-start: 1rem;
}

.editor__buttons {
    margin-top: 0.5rem;
}

.error-message {
    color: var(--color-error);
    white-space: pre-wrap;
}

.error-message:empty {
    display: none;
}
