@import "../theme.css";

html {
    background-color: var(--color-bg);
    color: var(--color-text);
    width: 11rem;
}

body {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    font-family: var(--font);
    font-size: 0.75rem;
    margin: 0;
    padding: 0;
    width: 11rem;
}

.logo {
    background-image: var(--url-logo);
    height: 2rem;
    margin: 0.75rem 0.5rem 0.25rem 0.5rem;
    text-indent: -999rem;
    width: 10rem;
}

.controls {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.host-name {
    display: inline-block;
    line-height: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.dictionary-link__icon::after {
    color: var(--color-accent);
    content: "✎";
    display: inline-block;
    font-size: 1rem;
    line-height: 1rem;
    text-align: center;
    width: 1rem;
}

.help-link__icon:after {
    border-radius: 50%;
    border: 0.0625rem solid var(--color-accent);
    box-sizing: border-box;
    color: var(--color-text);
    content: "?";
    display: inline-block;
    height: 1rem;
    line-height: 0.875rem;
    text-align: center;
    width: 1rem;
}

.help-link__content {
    display: inline-flex;
    width: 100%;
}

.help-link__text {
    flex: auto;
    width: 1;
}

.help-link__version {
    color: var(--color-text);
    flex: none;
    opacity: 0.5;
}
