# Build files
#-----------------------------------
build-chrome
build-chrome.zip
build-firefox
build-firefox.xpi
ext-dict.txt

# Node.js modules
#-----------------------------------
node_modules

# IDE and editor configs
#-----------------------------------
.idea
.vscode
