# Build files
#-----------------------------------
build
ext-dict.txt

# Node.js modules
#-----------------------------------
node_modules

# IDE and editor configs
#-----------------------------------
.idea
.vscode
