:root {
    --color-bg: #fff;
    --color-text: #000;
    --color-text-inactive: #777;
    --color-hover: #0001;
    --color-accent: #d23;
    --url-logo: url(../icons/logo-light-80x16.svg);
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-bg: #222;
        --color-text: #ddd;
        --color-text-inactive: #aaa;
        --color-hover: #fff1;
        --url-logo: url(../icons/logo-dark-80x16.svg);
    }
}
