@import "../../theme.css";

:host {
    display: inline-block;
}

.dropdown {
    display: inline-block;
    position: relative;
    width: 100%;
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--color-bg);
    border: none;
    border-radius: 0;
    color: var(--color-text);
    cursor: pointer;
    font-family: var(--font);
    font-size: 0.75rem;
    height: 2rem;
    outline: none;
    padding: 0.5rem 0.5rem 0.5rem 1.75rem;
    width: 100%;
}

select:hover {
    background-color: var(--color-hover);
}

option {
    background-color: var(--color-bg);
    color: var(--color-text);
    padding: 0.5rem;
}

.icon {
    display: inline-block;
    height: 1rem;
    left: 0.5rem;
    pointer-events: none;
    position: absolute;
    top: 0.5rem;
    width: 1rem;
}

.checkmark__on {
    fill: var(--color-accent);
}

.checkmark__off {
    fill: var(--color-text-inactive);
    display: none;
}

.unchecked .checkmark__on {
    display: none;
}

.unchecked .checkmark__off {
    display: initial;
}

.unchecked select {
    color: var(--color-text-inactive);
}
